{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block masthead_title %} AImino {% endblock %}

{% block masthead_subtitle %} Protein Prediction Software {% endblock %}

{% block masthead_button %} <a href="{{ url_for('search') }}" class="btn btn-light btn-lg">Predict</a> {% endblock %}

{% block content %}
<div style='padding: 20px;'>
    <h1> Introduction </h1>
    <p> Proteins are macromolecules consisting of chains of amino acids linked together by peptide bonds (i.e polypeptide chains) and folded into a particular 3d structure, which is determined by the sequence of amino acids in the polypeptide chains. The structure of a protein influences its interactions with molecules and thus dictates the function of the protein. </p>
    <p> Proteins perform many critical functions in the human body - including acting as antibodies, enzymes and structural support. Understanding the structure of a protein provides greater insight into how the proteins works, and thus improves our ability to: </p>
    <p> • predict which molecules interact with the protein <br>
        • understand various biological interactions <br>
        • alter a protein's function <br>
        • assist in drug discovery <br>
        • design specific proteins <br>
    </p>
    <p>
        AImino predicts the 3d structure of a protein.
    </p>
</div>
<div style='padding: 20px;'>
    <h1> Use </h1>
    <p> Go to the Search page using the menu or the button above. Search a protein using its amino acid sequence or its sequence identifier.
        The predicted structure will then be displayed, as well as the ground truth structure for comparison.
        Both the RMSE and Pearson's Correlation Coefficient will also be displayed.
    </p>
</div>
{% endblock %}
