{% extends "base.html" %}

{% block title %} Upload {% endblock %}

{% block masthead_title %} Upload {% endblock %}

{% block masthead_button %}
<div class="container">
  <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data" class="mt-3">
    <div class="mb-3">
      <label for="file" class="form-label">Choose File</label>
      <input type="file" name="file" class="form-control" id="file" accept".pdb>
    </div>  
    <button type="submit" class="btn btn-light">Upload</button>
</div>
{% endblock %}

{% block content %}
<div style='padding: 20px;'>
  <h1> Use </h1>
  <p> Upload a PDB file using the button above.
      The PDB structure will then be displayed. The style of the 3d-plot can be changed using the radiobuttons beneath it.
  </p>
</div>
{% endblock %}
